{% extends 'base.html.twig' %}

{% block title %}Liste items{% endblock %}

{% block body %}

    <div class="inner admin bo">
        <h1>Liste Produits</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <a href="{{ path('app_item_show', {'id': item.id}) }}">show</a>
                        <a href="{{ path('app_item_edit', {'id': item.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('app_item_new') }}">Créer nouveau</a>
    </div>

{% endblock %}
