{{ form_start(form) }}

<div class="form__section">
    {{ form_label(form.street) }}
    {{ form_widget(form.street) }}
</div>

<div class="form__section">
    {{ form_label(form.city) }}
    {{ form_widget(form.city) }}
</div>

<div class="form__section">
    {{ form_label(form.zipcode) }}
    {{ form_widget(form.zipcode) }}
</div>
<div class="form__buttons">
    <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
    <a class="btn btn-primary" href="{{ path('dashboard') }}">Retour au dashboard</a>
</div>


{{ form_end(form) }}

